/* GENERAL STYLING */
body {
  font-size: 1rem;
  font-family: "Arial", Helvetica, sans-serif;
  width: 100vw;
  background-color: #f6f6f6;
  overflow-x: hidden;
}

main {
  margin: 10px;
}

button {
  border-radius: 10px;
  border: 0;
  font-size: 1rem;
  box-shadow: 0px 2px 10px #888888;
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}

h3,
p,
span,
.user summary {
  padding: 5px;
}

/* ELEMENT STYLING */
/* Navigation */
.navigation {
  width: 100vw;
  position: -webkit-sticky;
  position: sticky;
  top: 95vh;
  border-radius: 15px;
}

/* Title */
.titleContainer {
  padding: 10px;
  background-color: #e7e7e7;
  border-bottom: 3px solid #007dff;
}

.titleContainer .logo {
  width: 30px;
  position: absolute;
}

/* Title */
/* Article */
.dogData {
  width: 90vw;
}

.heading {
  font-weight: 600;
}

.info {
  font-style: italic;
  font-size: .75rem;
}

.loadMore {
  width: auto;
  min-height: 25px;
  position: absolute;
  right: 5vw;
}

.user {
  border-radius: 5px;
  background-color: #ececec;
  box-shadow: 0px 3px 0 0 #dbdbdb;
  margin: 10px;
  padding: 5px;
  display: flex;
  flex-flow: row wrap;
}

.user summary {
  width: auto;
  max-width: 75%;
  background-color: #f6f6f6;
  margin: 5px;
  border-radius: 10px;
}

.user p {
  width: 100%;
}

figure,
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePhoto {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 2px solid #007dff;
}